##  Data Vizualization

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
train = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/train.csv")
test = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/test.csv")

In [8]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [20]:
df = train.copy().drop("IsHoliday",axis=1)
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values(by="Date")

### Dept Specific Sales Over Time

In [43]:
df.groupby(["Store","Dept"]).get_group((9,80)).plot(x="Date",y="Weekly_Sales")

       Store  Dept       Date  Weekly_Sales
86123      9    80 2010-02-26         10.27
86124      9    80 2010-03-12          2.48
86125      9    80 2010-12-24          3.00
86126      9    80 2010-12-31        -15.00
86127      9    80 2011-03-04          3.99
86128      9    80 2011-04-29          3.75
86129      9    80 2011-05-20          6.00
86130      9    80 2011-08-05         14.36
86131      9    80 2011-09-09          0.50
86132      9    80 2011-12-02          5.00
86133      9    80 2012-03-16       -199.00
86134      9    80 2012-03-30          2.99
86135      9    80 2012-04-06          1.00
86136      9    80 2012-06-22          3.76
86137      9    80 2012-09-21          1.88

#### Dat