## All Zeros Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
zTest = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/test.csv")

In [3]:
zTest.head()

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

In [4]:
zResult = zTest.copy()
zResult = zResult.drop(["IsHoliday"],axis=1)
zResult["Id"] = zResult["Store"].apply(lambda x: str(x)) + "_" + zResult["Dept"].apply(lambda x: str(x)) + "_" + zResult["Date"].apply(lambda x: str(x))
zResult = zResult.drop(["Store","Dept","Date"],axis=1)
zResult["Weekly_Sales"] = 0

In [5]:
zResult.head()

               Id  Weekly_Sales
0  1_1_2012-11-02             0
1  1_1_2012-11-09             0
2  1_1_2012-11-16             0
3  1_1_2012-11-23             0
4  1_1_2012-11-30             0

In [6]:
zResult.to_csv("ZeroSubmission.csv",index=False)

## Average Model

In [7]:
atrain = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/train.csv")
atest = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/test.csv")

In [8]:
atrain.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [9]:
tave = atrain.copy()
tave = tave.drop(["IsHoliday","Date"],axis=1)

In [10]:
tave.head()

   Store  Dept  Weekly_Sales
0      1     1      24924.50
1      1     1      46039.49
2      1     1      41595.55
3      1     1      19403.54
4      1     1      21827.90

In [11]:
tave = tave.groupby(["Store","Dept"]).mean()

In [12]:
tave.describe()

        Weekly_Sales
count    3331.000000
mean    14175.598348
std     20923.014383
min      -116.454545
25%      1000.032098
50%      6223.470210
75%     18259.155331
max    182527.956014

In [13]:
tave = tave.reset_index()

In [14]:
tave.head()

   Store  Dept  Weekly_Sales
0      1     1  22513.322937
1      1     2  46102.090420
2      1     3  13150.478042
3      1     4  36964.154476
4      1     5  24257.941119

In [15]:
atest.describe()

               Store           Dept
count  115064.000000  115064.000000
mean       22.238207      44.339524
std        12.809930      30.656410
min         1.000000       1.000000
25%        11.000000      18.000000
50%        22.000000      37.000000
75%        33.000000      74.000000
max        45.000000      99.000000

In [16]:
aresult = atest.copy().drop("IsHoliday",axis=1)
aresult["Id"] = aresult["Store"].apply(lambda x: str(x)) + "_" + aresult["Dept"].apply(lambda x: str(x)) + "_" + aresult["Date"].apply(lambda x: str(x))
aresult = aresult.drop(["Date"],axis=1)

In [17]:
aresult = pd.merge(aresult,tave,how="left",on=['Store',"Dept"]).fillna(0)
aresult = aresult.drop(["Store","Dept"],axis=1)

In [18]:
aresult.head()

               Id  Weekly_Sales
0  1_1_2012-11-02  22513.322937
1  1_1_2012-11-09  22513.322937
2  1_1_2012-11-16  22513.322937
3  1_1_2012-11-23  22513.322937
4  1_1_2012-11-30  22513.322937

In [19]:
aresult.to_csv("AverageSubmission.csv",index=False)

## Old Values Model

In [209]:
oresult = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/test.csv")
otrain = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/train.csv")

In [210]:
otrain = otrain.drop("IsHoliday",axis=1)
otrain["Id"] = otrain["Store"].apply(lambda x: str(x)) + "_" + otrain["Dept"].apply(lambda x: str(x)) + "_" + otrain["Date"].apply(lambda x: str(x))
otrain["Date"] = pd.to_datetime(otrain["Date"])


oresult = oresult.drop("IsHoliday",axis=1)
oresult["Id"] = oresult["Store"].apply(lambda x: str(x)) + "_" + oresult["Dept"].apply(lambda x: str(x)) + "_" + oresult["Date"].apply(lambda x: str(x))
oresult["Date"] = pd.to_datetime(oresult["Date"])

In [211]:
# oresult.loc[oresult["Dept"]==1]

In [230]:

# oresult['Weekly_Sales'] = oresult['Date'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')
oresult["Weekly_Sales"] = otrain.loc[otrain["Id"] == (oresult["Store"].apply(lambda x: str(x))+"_"+oresult["Dept"].apply(lambda x: str(x))+"_"+ (oresult["Date"]-pd.DateOffset(weeks=52)).dt.strftime("%Y-%m-%d"))[0]]
# oresult["Weekly_Sales"] = otrain.loc[otrain["Id"]== oresult["Store"].apply(lambda x: str(x))+"_"+oresult["Dept"].apply(lambda x: str(x))+"_"+(oresult["Date"]-pd.DateOffset(years=1)).dt.strftime("%Y-%m-%d")]
oresult.dropna(axis = 1)


# # year1 year2
# oresult["Date"] - pd.DateOffset(years=1)
# oresult["Date"] - pd.DateOffset(years=2)
# oresult["Date"].dt.strftime("%Y-%m-%d")
oresult.head()

   Store  Dept       Date              Id Weekly_Sales
0      1     1 2012-11-02  1_1_2012-11-02          NaN
1      1     1 2012-11-09  1_1_2012-11-09          NaN
2      1     1 2012-11-16  1_1_2012-11-16          NaN
3      1     1 2012-11-23  1_1_2012-11-23          NaN
4      1     1 2012-11-30  1_1_2012-11-30          NaN

In [136]:
oresult["Weekly_Sales"] = (oresult["Date"]-pd.DateOffset(years=1)).dt.strftime("%Y-%m-%d")
oresult.head()

        Date              Id Weekly_Sales
0 2012-11-02  1_1_2012-11-02   2011-11-02
1 2012-11-09  1_1_2012-11-09   2011-11-09
2 2012-11-16  1_1_2012-11-16   2011-11-16
3 2012-11-23  1_1_2012-11-23   2011-11-23
4 2012-11-30  1_1_2012-11-30   2011-11-30

In [127]:
oresult = oresult.drop(["Store","Dept"],axis=1)

In [128]:
oresult.to_csv("OldValuesSubmission.csv",index=False)

In [ ]:
oresult["Weekly_Sales"] = otrain.loc[otrain["Id"] == oresult["Store"].apply(lambda x: str(x))+"_"+oresult["Dept"].apply(lambda x: str(x))+"_"+ (oresult["Date"]-pd.DateOffset(years=1)).dt.strftime("%Y-%m-%d")]["Id"]