## All Zeros

In [133]:
import pandas as pd
import numpy as np

In [137]:
zTest = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/test.csv")

In [138]:
zTest.head()

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

In [141]:
zResult = pd.DataFrame({"Id":test.Date.unique()}).rename(columns = {'0':'Id'})
zResult["Weekly_Sales"] = 0

In [142]:
zResult.head()

           Id  Weekly_Sales
0  2012-11-02             0
1  2012-11-09             0
2  2012-11-16             0
3  2012-11-23             0
4  2012-11-30             0

In [143]:
zResult.to_csv("ZeroSubmission.csv",index=False)

## Average

In [ ]:
zTest = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/test.csv")
zTest = pd.read_csv("/Users/gsegura/Desktop/WalmartSales/test.csv")